.header {
  width: 1400px;
  padding: 36px 100px;
  background: var(--main-background-color) url('../img/background/header.png')
    no-repeat;
  margin: auto;
  box-sizing: border-box;
}

.nav-wrapper {
  display: flex;
}

.nav-mobile {
  display: none;
}

.logo {
  display: flex;
  height: 25px;
  align-items: center;
  margin-right: 90px;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}

.logo:hover {
  box-shadow: 0 0 5px var(--main-background-color-dark);
}

.nav {
  display: inline-flex;
  gap: 28px;
  align-items: flex-end;
  margin-bottom: 50px;
  margin-top: 3px;
  font-size: 16px;
  line-height: 20px;
}

.nav-item:last-child {
  margin-left: 10px;
}

.header-hero {
  width: 534px;
  margin-left: 85px;
  margin-bottom: 132px;
}

.header-title.title {
  font-size: 50px;
  line-height: 62px;
  text-align: left;
  text-transform: none;
  margin-bottom: 0;
}

.header-text {
  margin-bottom: 27px;
  text-align: left;
}

.header-btn {
  margin-bottom: 168px;
}
