@import url('./header.css');
@import url('./main.css');

:root {
  --main-text-color: #533738;
  --main-background-color-middle: #e2c4ba;
  --main-background-color-dark: #8d7370;
  --main-background-color: #efe6e4;
  --main-btn-color: #cc8b86;
  --btn-border-color: #b4524b;
  --section-padding: 65px;
}

.body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-display: swap;
  font-size: 18px;
  line-height: 167%;
  color: var(--main-text-color);
  width: 1400px;
  margin: auto;
}

.link {
  text-decoration: none;
  color: var(--main-text-color);
}

.link:hover {
  text-shadow: 0 0 5px var(--main-btn-color);
}

.list {
  margin: 0;
  padding-inline-start: 0px;
  list-style: none;
}

.title {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  margin: 0;
}

.text {
  margin: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 306px;
  height: 74px;
  background-color: var(--main-btn-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid var(--main-btn-color);
  box-sizing: border-box;
}

.btn:hover {
  text-shadow: none;
  border: 1px solid var(--btn-border-color);
}
