.main {
  width: 1400px;
  margin: auto;
}

.aboutUs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background: url('../img/background/aboutUs.png') left 184px top 155px
    no-repeat;
}

.aboutUs-title {
  margin: var(--section-padding) auto 0;
  width: 100%;
}

.aboutUs-text {
  width: 520px;
  margin: 40px 190px 125px;
}

.aboutUs-text > .text {
  margin-bottom: 30px;
}

.aboutUs-breefly {
  width: 100%;
  height: 273px;
  background-color: var(--main-background-color-dark);
  display: flex;
  column-gap: 269px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.breefly-item {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}

.digit {
  font-weight: 400;
  font-size: 50px;
  line-height: 124%;
  margin: 0;
  margin-bottom: 8px;
}

.examples {
  padding: var(--section-padding) 100px;
}

.examples-title.title {
  text-align: left;
}

.examples-slide {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
}

.examples-item {
  line-height: 0;
  width: 488px;
  height: auto;
  overflow: hidden;
  position: relative;
}

.examples-item:nth-child(2),
.examples-item:nth-child(3) {
  flex-grow: 1;
}

.examples-item--hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 86px 8% 0 7%;
  line-height: 167%;
  background: rgba(100, 72, 69, 0.8);
  color: #fff;
  display: none;
}

.describeTitle.title {
  text-transform: none;
  margin: 0 70px 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.examples-item:hover > .examples-item--hover {
  display: block;
}

.examples-handler {
  text-align: center;
}

.handler-prev--text {
  font-weight: 500;
  font-size: 35px;
  line-height: 37px;
}

.handler-arrowNext {
  transform: rotate(180deg);
}

.handler-btn {
  border: none;
  background-color: var(--main-background-color);
  cursor: pointer;
}

.handler-btn:hover,
.handler-btn:focus {
  box-shadow: 0 0 5px var(--main-background-color-dark);
}

.btn-prev {
  display: none;
}

.crew {
  background: var(--main-background-color-middle);
  padding: 50px 181px 35px;
  display: grid;
  column-gap: 38px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 39px min-content;
}

.crew-title,
.ourRules-title {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.crew-item {
  grid-row: 3/4;
}

.crew-item--Masha {
  grid-column: 1/2;
}

.crew-item--Sasha {
  grid-column: 2/3;
}

.crew-item--Katya {
  grid-column: 3/4;
}

.ourRules {
  background: var(--main-background-color-middle);
  padding: 0 99px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 42px min-content;
}

.ourRules-title {
  margin-left: 40px;
}

.ourRules-list {
  grid-row: 3/4;
  grid-column: 1/-1;
  display: flex;
  column-gap: 20px;
  text-align: center;

  counter-reset: section;
  list-style-type: none;
}

.ourRules-item {
  position: relative;
  padding-top: 90px;
  width: 285px;
}

.ourRules-item::before {
  counter-increment: section;
  content: counters(section, '.');
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--main-background-color-dark);
  position: absolute;
  display: block;
  top: 0;
  left: calc(50% - 35px);
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  padding-top: 20px;
  box-sizing: border-box;
}

.feedback {
  padding: var(--section-padding) 0;
  margin: auto;
}

.feedback-title {
  margin-bottom: 40px;
}

.feedback-sliderWrapper {
  display: flex;
  column-gap: 29px;
  align-items: center;
  margin-left: -10px;
  margin-right: 10px;
}

.feedback-arrow {
  margin-top: -30px;
  flex-shrink: 0;
}

.feedback-arrow--next {
  transform: rotate(180deg);
}

.author {
  text-transform: uppercase;
}

.slider-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.feedback-blockquote {
  margin: 0;
}

.feedback-text.text {
  margin-bottom: 30px;
}

.feedback-photos {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-left: 10px;
}
